.corlex-markdown .ace_gutter {
  background: #272727;
  color: #CCC
}
.corlex-markdown .ace_print-margin {
  width: 1px;
  background: #272727
}
.corlex-markdown {
  background-color: #f8f9fa;
  color: #000
}
.corlex-markdown .ace_constant.ace_other,
.corlex-markdown .ace_cursor {
  color: #000
}
.corlex-markdown .ace_marker-layer .ace_selection {
  background: rgba(177, 215, 254, 0.5);
  border-radius: 0
}
.corlex-markdown.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px #2D2D2D;
}
.corlex-markdown .ace_marker-layer .ace_step {
  background: rgb(102, 82, 0)
}
.corlex-markdown .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid #6A6A6A
}
.corlex-markdown .ace_hidden-cursors .ace_cursor {
  display: none
}
.ace-tomorrow-night-bright .ace_stack {
  background: rgb(66, 90, 44)
}
.corlex-markdown .ace_marker-layer .ace_active-line {
  background: #393939
}
.corlex-markdown .ace_gutter-active-line {
  background-color: #393939
}
.corlex-markdown .ace_marker-layer .ace_selected-word {
  border: 1px solid #515151
}
.corlex-markdown .ace_invisible {
  color: #6A6A6A
}
.corlex-markdown .ace_keyword,
.corlex-markdown .ace_meta,
.corlex-markdown .ace_storage,
.corlex-markdown .ace_storage.ace_type,
.corlex-markdown .ace_support.ace_type {
  color: #DB71DF
}
.corlex-markdown .ace_keyword.ace_operator {
  color: #66CCCC
}
.corlex-markdown .ace_constant.ace_character,
.corlex-markdown .ace_constant.ace_language,
.corlex-markdown .ace_constant.ace_numeric,
.corlex-markdown .ace_keyword.ace_other.ace_unit,
.corlex-markdown .ace_support.ace_constant,
.corlex-markdown .ace_variable.ace_parameter {
  color: #F99157
}
.corlex-markdown .ace_invalid {
  color: #CDCDCD;
  background-color: #F2777A
}
.corlex-markdown .ace_invalid.ace_deprecated {
  color: #CDCDCD;
  background-color: #CC99CC
}
.corlex-markdown .ace_fold {
  background-color: #6699CC;
  border-color: #CCCCCC
}
.corlex-markdown .ace_entity.ace_name.ace_function,
.corlex-markdown .ace_support.ace_function,
.corlex-markdown .ace_variable {
  color: #009E9D
}
.corlex-markdown .ace_support.ace_class,
.corlex-markdown .ace_support.ace_type {
  color: #FFCC66
}
.corlex-markdown .ace_heading {
  color: #1BA2F0
}
.corlex-markdown .ace_markup.ace_heading {
  color: #1BA2F0
}
.corlex-markdown .ace_string {
  color: #FD7741
}
.corlex-markdown .ace_string.ace_blockquote {
  color: #FD7741
}
.corlex-markdown .ace_string.ace_blockquote .ace_cjk {
  color: #000
}
.corlex-markdown .ace_underline{
  text-decoration: none;
  color:#BB51B8
}
.corlex-markdown .ace_emphasis{
  color: #FD9526
}
.corlex-markdown .ace_list.ace_markup{
  color: #5486B8
}
.corlex-markdown .ace_comment {
  color: #A5A5A5
}
.corlex-markdown .ace_entity.ace_name.ace_tag,
.corlex-markdown .ace_entity.ace_other.ace_attribute-name,
.corlex-markdown .ace_meta.ace_tag,
.corlex-markdown .ace_variable {
  color: #F2777A
}
.corlex-markdown .ace_indent-guide {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWPQ09NrYAgMjP4PAAtGAwchHMyAAAAAAElFTkSuQmCC") right repeat-y
}

.corlex-markdown .ace_search {
  display: block;
  background-color: #fff;
}
.corlex-markdown .ace_search .ace_search_options {
  display: none;
}
.corlex-markdown .ace_search .ace_searchbtn:last-child {
  display: none;
}

/*# sourceURL=ace/css/corlex-markdown */
